footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px auto;
  max-width: 1000px;
  width: 90%;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin-right: 10px;
  text-transform: uppercase;
}

.footer__link {
  text-decoration: none;
  color: #003596;
  font-weight: 700;
}

.footer_copyright {
  color: #999;
  text-transform: uppercase;
}
