body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #262626;
}

main {
  max-width: 1000px;
  animation: .5s fadein linear;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

a {
  text-decoration: none;
}
